<div class="flex flex-column">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Registro Tipo Recurso</mat-card-title>
        </mat-card-header>
  
      <mat-form-field>
        <mat-label>Tipo Recurso</mat-label>
        <input type="text" matInput placeholder="Unidad" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción General</mat-label>
        <input type="text" matInput placeholder="Unidad" />
      </mat-form-field>
      
      <button mat-button color="primary">
        <mat-icon>add_circle</mat-icon>
        Agregar
      </button>

    </mat-card>
  </div>
