<!-- <div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center">
  No hay que mostrar
</div> -->

<!-- <ng-template #table> -->
  <mat-accordion>
    <!-- [expanded]="step === 0" (opened)="setStep(0)" hideToggle -----Se pone en el expasionpanel -->
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Recurso
        </mat-panel-title>
        <mat-panel-description>
          Descripcion
          <mat-icon>description</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <mat-form-field>
        <mat-label>Dia (DD/MM/AAAA)</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Hora de Inicio</mat-label>
        <input type="time" matInput formControlName="startTime" placeholder="Hora de Inicio" required />
      </mat-form-field>
  
      <mat-form-field class="half-width">
        <mat-label>Hora de Finalización</mat-label>
        <input type="time" matInput formControlName="endTime" placeholder="Hora de Finalización" required />
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" >Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Recurso
        </mat-panel-title>
        <mat-panel-description>
          Descripcion
          <mat-icon>description</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <mat-form-field>
        <mat-label>Dia (DD/MM/AAAA)</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-label>Hora de Inicio</mat-label>
        <input type="time" matInput formControlName="startTime" placeholder="Hora de Inicio" required />
      </mat-form-field>
  
      <mat-form-field class="half-width">
        <mat-label>Hora de Finalización</mat-label>
        <input type="time" matInput formControlName="endTime" placeholder="Hora de Finalización" required />
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" >Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>


<!-- </ng-template> -->
