<div class="flex flex-column">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Nuevo Recurso</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="resourceForm" (ngSubmit)="addResource()">
        <mat-form-field class="full-width">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="name" placeholder="Nombre Recurso" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Tipo de Recurso</mat-label>
          <mat-select formControlName="resourceTypeID">
            <mat-option *ngFor="let tipo of tipo" [value]="tipo.value">{{tipo.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Descripción</mat-label>
          <input type="text" matInput formControlName="description" placeholder="Descripción" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Service Unit ID</mat-label>
          <input type="text" matInput formControlName="serviceUnitID" placeholder="Service Unit ID" />
        </mat-form-field>

        <div class="flex-row">
          <mat-form-field class="half-width">
            <mat-label>Hora de Inicio</mat-label>
            <input type="time" matInput formControlName="startTime" placeholder="Hora de Inicio" required />
            <mat-error *ngIf="resourceForm.controls['startTime'].invalid">La hora de inicio es requerida</mat-error>
          </mat-form-field>

          <mat-form-field class="half-width">
            <mat-label>Hora de Finalización</mat-label>
            <input type="time" matInput formControlName="endTime" placeholder="Hora de Finalización" required />
            <mat-error *ngIf="resourceForm.controls['endTime'].invalid">La hora de finalización es requerida</mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit">
          <mat-icon>add_circle</mat-icon>
          Agregar
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
