<div class="flex flex-column">
  <mat-card>
      <mat-card-header>
        <mat-card-title>Ingreso</mat-card-title>
      </mat-card-header>

    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input type="text" matInput placeholder="Usuario" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="text" matInput placeholder="Contraseña" />
    </mat-form-field>
    <button mat-button (click)="onLogin()" color="primary">
      <mat-icon >login</mat-icon>
      Ingresar
    </button>

    <div class="flex justify-content-end mt-4 mb-2">
      <a routerLink="/auth/new-account">¿Aun no tienes cuenta?</a>
    </div>
  </mat-card>
</div>
