<!-- <div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center">
  No hay que mostrar
</div> -->

<!-- <ng-template #table> -->
  <mat-accordion>
    <!-- [expanded]="step === 0" (opened)="setStep(0)" hideToggle -----Se pone en el expasionpanel -->
    <mat-expansion-panel *ngFor="let item of usuarios" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.usuarioId}}
        </mat-panel-title>
        <mat-panel-description>
          Detalles
          <mat-icon>info</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>ID_USUARIO: {{item.usuarioId}} </mat-card-title>
          <mat-card-subtitle>Nombre Completo: {{item.nombre}} </mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </mat-card-header>
        <mat-card-content>
          <h3>Rol: {{item.rol}} </h3>
          <h3>Cargo: {{item.convenioId}} </h3>
          <h3>Id Externa: {{item.idExterna}} </h3>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>


      <!-- <mat-action-row>
        <button mat-button color="primary" >Next</button>
      </mat-action-row> -->
    </mat-expansion-panel>
  </mat-accordion>


<!-- </ng-template> -->
