/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-panel-description p {
  margin: 0;
  padding: 0;
}

.spacer{
  flex: 1 1 auto;
}

.card{
  max-width: 600px;
  margin-bottom: 8px;
}
